#!/bin/bash

# make aliases sudoable
alias sudo="sudo "

# navigation
alias ..="cd .."
alias ...="cd ../.."

# ls aliases
alias l="ls"
alias la="ls -A"
alias ll="ls -Al"

# git aliases
alias ga="git add -A"
alias gs="git add -A"
alias gc="git commit -s"
alias gp="git push"

# homebrew aliases
alias brewery='brew update && brew upgrade && brew cleanup'

# devops aliases
alias issaias-deploy='scp -r /Users/dante/Projects/issaias.net root@issaias.net:/var/www'
