#!/bin/bash

# make aliases sudoable
alias sudo="sudo "

# navigation
alias ..="cd .."
alias ...="cd ../.."

# ls aliases
alias la="ls -A"
alias ll="ls -Al"

# git aliases
alias gs="git stage *"
alias gc="git commit -s"

# homebrew aliases
alias brewery='brew update && brew upgrade && brew cleanup'